/* End footer */
.cart {
  font-size: 30px;
  padding-top: 32px;
  color: #000;
  font-weight: 700;
  text-align: center;
}
.cart-content {
  padding: 12px;
  border: 1px solid #ccc;
  margin: 36px 0;
  border-radius: 8px;
}
.cart-content h2 {
  font-size: 20px;
  font-weight: 700;
  color: #ccc;
  margin-bottom: 8px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.cart-head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 12px;
  font-size: 14px;
}
.cart-infor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-infor h2 {
  font-size: 16px;
  min-width: 180px;
}

.cart-infor-price,
.cart-infor-quantity {
  font-weight: 600;
}

.cart-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-body p {
  font-size: 14px;
  font-weight: 700;
  color: red;
  opacity: 0.7;
}

.cart-body p:hover {
  opacity: 1;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.cart-total-price {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  color: #4b5563;
}
.cart-total-price h3 {
  font-size: 14px;
  margin-right: 12px;
  font-weight: 700;
}
.cart-total-price p {
  font-size: 14px;
  margin-right: 12px;
  font-weight: 700;
}

.cart-btn {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart-btn button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border: none;
  padding: 8px 16px;
  color: #fff;
  border-radius: 8px;
  background-color: #16a34a;
}

.cart-btn button:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in;
}
.boxcart {
  text-align: center;
  width: 100%;
  color: #ccc;
  height: 332px;
  margin-top: 20px;
  padding-top: 50px;
  border-radius: 10px;
}
.boxcart i {
  font-size: 100px;
}
.giohangtrong {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 700;
}
.themsp {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    width: 100%;
    padding: 0 8px;
  }
  .cart {
    padding-bottom: 40px;
  }
  .cart-list {
    min-height: 50vh;
  }
  .cart-item img {
    width: 60px;
    height: 60px;
    margin-right: 8px;
  }

  .boxcart {
    height: 650px;
  }
}

/* Responsive mobile */
@media (max-width: 739px) {
}
