.content {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Responsive Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .content {
    height: 750px;
  }
}
