.boxsignup {
  background-color: aliceblue;
  border-radius: 10px;
  width: 400px;
  padding: 10px 20px;
  box-shadow: -5px 0px 27px 11px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: -5px 0px 27px 11px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: -5px 0px 27px 11px rgba(0, 0, 0, 0.17);
}
.parentsdangnhap a {
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
.mautim {
  color: plum;
}
.Box-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.signup {
  font-size: 36px;
  font-weight: 700;
  margin-top: 33px;
  text-align: center;
}
.alreadyacc {
  display: flex;
  margin-left: 121px;
  margin-top: 18px;
  font-size: 14px;
}
.login {
  cursor: pointer;
  color: green;
  margin-left: 10px;
}
input {
  border: 3px solid green;
  border-radius: 9px;
  width: 300px;
  height: 42px;
  padding: 0 8px;
}
.thongtin {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 27px;
  margin-top: 30px;
}
.dangnhap {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid green;
  border-radius: 9px;
  margin-top: 31px;
  width: 300px;
  height: 42px;
  background-color: green;
  cursor: pointer;
}
.parentsdangnhap {
  display: flex;
  justify-content: center;
}
.dkdv {
  text-align: center;
  width: 300px;
  height: 42px;
}
.DKDV {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.tick input {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}
.boxmailcheck {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-left: -15px;
  align-items: center;
}
.parentsdangnhap:hover {
  opacity: 0.8;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
/* End footer */
